<div class="container">
    <app-sidebar></app-sidebar>
    <div class="main-content">
        <div class="nav">
            <h2 class="text mobile-title">PharmaTrack</h2>
            <h2 *ngIf="Uservice.getLoged()" class="name">{{Uservice.getUser().fullname}}</h2>
            <h2 *ngIf="!Uservice.getLoged()" class="name"></h2>
            <span *ngIf="Uservice.getLoged()" class="logout-button" (click)="Uservice.logout()">
                <img src="../assets/user.png" alt="logout">
            </span>
            <span *ngIf="!Uservice.getLoged()" class="login-button" (click)="open('login')">
                <img src="../assets/user.png" alt="login">
            </span>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>


