<div *ngIf="display == 'medication'" class="main card add-form">
    <button class="close-btn" (click)="navigate('admin', 'medications')">X</button>
    <div class="title">
        <h4>Add New Medecine</h4>
    </div>
    <div class="form">
        <div class="field">
            <label for="uname">Code</label>
            <input name="uname" [(ngModel)]="med.Id" type="text" required>
        </div>
        <div class="field">
            <label for="uname">Name</label>
            <input name="uname" [(ngModel)]="med.name" type="text" required>
        </div>
        <div class="field">
            <label for="uname">Quantity</label>
            <input name="uname" [(ngModel)]="med.qty" type="number" required>
        </div>
        <div class="field">
            <label for="uname">Pharmacy</label>
            <input name="uname" [(ngModel)]="med.pharma" type="text" required>
        </div>
        <div class="field">
            <label for="uname">Tel</label>
            <input name="uname" [(ngModel)]="med.tel" type="phone" required>
        </div>
        <div class="field">
            <label for="uname">Quantity</label>
            <input name="uname" [(ngModel)]="med.qty" type="number" required>
        </div>
        <div class="field">
            <label for="name">Descriptions</label>
            <textarea name="upass" [(ngModel)]="med.desc" type="text" required></textarea>
        </div>
        <div class="footer">
            <button type="submit" class="register btn" (click)="med = {}; editMed()">Clear</button>
            <button type="submit" class="login btn" (click)="save(med)">Save</button>
        </div>
    </div>
</div>
<div *ngIf="display == 'pharmacy'" class="main card add-form">
    <button class="close-btn" (click)="navigate('admin', 'pharmacies')">X</button>
    <div class="title">
        <h4>Add New Pharmacy</h4>
    </div>
    <div class="form">
        <div class="field">
            <label for="uname">Code</label>
            <input name="uname" [(ngModel)]="pharma.code" type="text" required>
        </div>
        <div class="field">
            <label for="uname">Name</label>
            <input name="uname" [(ngModel)]="pharma.name" type="text" required>
        </div>
        <div class="field">
            <label for="uname">Tel</label>
            <input name="uname" [(ngModel)]="pharma.tel" type="phone" required>
        </div>
        <div class="field">
            <label for="uname">Address</label>
            <input name="uname" [(ngModel)]="pharma.address" type="number" required>
        </div>
        <div class="footer">
            <button type="submit" class="register btn" (click)="pharma = {}; editMed()">Clear</button>
            <button type="submit" class="login btn" (click)="savePharma(pharma)">Save</button>
        </div>
    </div>
</div>
    <!-- users management -->
<div *ngIf="display == 'user'" class="main card add-form">
    <button class="close-btn" (click)="navigate('admin', 'users')">X</button>
    <div class="title">
        <h4>Add New User</h4>
    </div>
    <div class="form">
        <div class="field">
            <label for="uname">User Name</label>
            <input name="uname" [(ngModel)]="user.name" type="text" required>
        </div>
        <div class="field">
            <label for="uname">Full Name</label>
            <input name="uname" [(ngModel)]="user.fullname" type="text" required>
        </div>
        <div class="field">
            <label for="uname">E-mail</label>
            <input name="uname" [(ngModel)]="user.mail" type="mail" required>
        </div>
        <div class="field">
            <label for="name">Password</label>
            <input name="upass" [(ngModel)]="user.pass" type="password" required>
        </div>
        <div class="field">
            <label for="name">Confirm</label>
            <input name="upass" [(ngModel)]="user.conf" type="password" required>
        </div>
        <div class="field">
            <label *ngIf="serverror" class="form-error">Something went wrong, try to repeat !</label>
        </div>
        <div class="field">
            <label *ngIf="formerror" class="form-error">Some field are not completed correctly !</label>
        </div>
        <div class="footer">
            <button type="submit" class="register btn" (click)="user = {}">Clear</button>
            <button type="submit" class="login btn" (click)="saveUser(user)">Save</button>
        </div>
    </div>
</div>
