<!-- madication add form -->
<div *ngIf="display == 'medication'" class="main card add-form">
    <button class="close-btn" (click)="navigate('admin', 'medications')">X</button>
    <div class="title">
        <h4>Add New Medecine</h4>
    </div>
    <div class="form">
        <div class="field">
            <label for="code">Code</label>
            <input name="code" [(ngModel)]="med.code" type="text" required>
        </div>
            <span *ngIf="exist" class="form-error">Medication code allready exist !</span>
        <div class="field">
            <label for="name">Name</label>
            <input name="name" [(ngModel)]="med.name" type="text" required>
        </div>
        <div class="field">
            <label for="qty">Quantity</label>
            <input name="qty" [(ngModel)]="med.qty" type="number" required>
        </div>
        <div class="field">
            <label for="price">Price</label>
            <input name="price" [(ngModel)]="med.price" type="number" required>
        </div>
        <div class="field">
            <label for="pharma">Pharmacy</label>
            <select name="pharma" [(ngModel)]="med.pharma" type="text" required>
                <option *ngFor="let item of pharmacies" [value]="item.code">{{item.name}}</option>
            </select>
        </div>
        <div class="field">
            <label for="desc">Descriptions</label>
            <textarea name="des" [(ngModel)]="med.desc" type="text" required></textarea>
        </div>
        <div class="field">
            <label *ngIf="serverror" class="form-error">Something went wrong, try to repeat !</label>
        </div>
        <div class="field">
            <label *ngIf="formerror" class="form-error">Some field are not completed correctly !</label>
        </div>
        <div class="footer">
            <button type="submit" class="register btn" (click)="med = {}">Clear</button>
            <button type="submit" class="login btn" (click)="saveMed(med)">Save</button>
        </div>
    </div>
</div>
    <!-- pharmacy add form -->
<div *ngIf="display == 'pharmacy'" class="main card add-form">
    <button class="close-btn" (click)="navigate('admin', 'pharmacies')">X</button>
    <div class="title">
        <h4>Add New Pharmacy</h4>
    </div>
    <div class="form">
        <div class="field">
            <label for="code">Code</label>
            <input name="code" [(ngModel)]="pharma.code" type="text" required>
        </div>
            <span *ngIf="exist" class="form-error">Code allready exist !</span>

        <div class="field">
            <label for="name">Name</label>
            <input name="name" [(ngModel)]="pharma.name" type="text" required>
        </div>
        <div class="field">
            <label for="tel">Tel</label>
            <input name="tel" [(ngModel)]="pharma.tel" type="phone" required>
        </div>
        <div class="field">
            <label for="address">Address</label>
            <input name="address" [(ngModel)]="pharma.address" type="text" required>
        </div>
        <div class="field">
            <label *ngIf="serverror" class="form-error">Something went wrong, try to repeat !</label>
        </div>
        <div class="field">
            <label *ngIf="formerror" class="form-error">Some field are not completed correctly !</label>
        </div>
        <div class="footer">
            <button type="submit" class="register btn" (click)="pharma = {}">Clear</button>
            <button type="submit" class="login btn" (click)="savePharma(pharma)">Save</button>
        </div>
    </div>
</div>
    <!-- users add form -->
<div *ngIf="display == 'user'" class="main card add-form">
    <button class="close-btn" (click)="navigate('admin', 'users')">X</button>
    <div class="title">
        <h4>Add New User</h4>
    </div>
    <div class="form">
        <div class="field">
            <label for="name">User Name</label>
            <input name="name" [(ngModel)]="user.name" type="text" required>
        </div>
        <span *ngIf="exist" class="form-error">UnserName allready exist !</span>
        <div class="field">
            <label for="fullname">Full Name</label>
            <input name="fullname" [(ngModel)]="user.fullname" type="text" required>
        </div>
        <div class="field">
            <label for="mail">E-mail</label>
            <input name="mail" [(ngModel)]="user.mail" type="mail" required>
        </div>
        <div class="field">
            <label for="tel">Tel</label>
            <input name="tel" [(ngModel)]="user.tel" type="phone" required>
        </div>
        <div class="field">
            <label for="type">Type</label>
            <input name="type" [(ngModel)]="user.type" type="text" required>
        </div>
        <div class="field">
            <label for="pass">Password</label>
            <input name="pass" [(ngModel)]="user.pass" type="password" required>
        </div>
        <div class="field">
            <label for="conf">Confirm</label>
            <input name="conf" [(ngModel)]="user.conf" type="password" required>
        </div>
        <div class="field">
            <label *ngIf="serverror" class="form-error">Something went wrong, try to repeat !</label>
        </div>
        <div class="field">
            <label *ngIf="formerror" class="form-error">Some field are not completed correctly !</label>
        </div>
        <div class="footer">
            <button type="submit" class="register btn" (click)="user = {}">Clear</button>
            <button type="submit" class="login btn" (click)="saveUser(user)">Save</button>
        </div>
    </div>
</div>
