
/* Barre latérale */
.sidebar {
  width: 200px;
  height: 660px;
  background-color: rgb(59 115 113);
  color: white;
  padding: 20px;
  transition: transform 0.3s ease;
  margin: -10px -10px;
  position: fixed;
  z-index: 1000;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -15px;
    position: relative;
}
.sidebar.hidden {
//   transform: translateX(-100%);
width: 25px !important;
.text{
    display: none;
}
 span{
    width: 20px;
    background-color: rgb(249 249 249);
    height: 6px;
    margin: 2px 0px;
    color: #72b8f5;

  }
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  font-size: 1rem;
  cursor: pointer;
}

.sidebar li:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .sidebar {
      display: none;
    }
    
}
.menu-toggle{
  display: grid;
  background: #004a8a;
  padding: 1px;
  border-radius: 5px;
  span{
    width: 30px;
    background-color: rgb(249 249 249);
    height: 6px;
    margin: 2px;
    color: #72b8f5;
  border-radius: 10px;


  }
}