<div>
    <aside id="sidebar" class="sidebar" [ngClass]="{'sidebar-open': isSidebarVisible, 'hidden': !isSidebarVisible}">
        
        <div class="header" (click)="toggle()">
            <h2 class="text">Pharmatrack</h2>
            <!-- <button class="menu-toggle" >
                <span></span>
                <span></span>
                <span></span>
            </button> -->
        </div>
        <ul>
            <li>🏠<span class="text" (click)="open('dashboard')">Dashboard</span></li>
            <li>💊 <span class="text" (click)="open('medication')">Medications</span></li>
            <li>🏥 <span class="text" (click)="open('pharmacy')">Pharmacy</span></li>
            <!-- <li>🔍 <span class="text" (click)="open('admin')">Ilness</span></li> -->
            <li>⚙️ <span class="text" (click)="open('admin')">Data</span></li>
        </ul>
    </aside>
</div>
    