
<div class="dashboard-container">
        <!-- Main Content -->
    <main *ngIf="display == 'admin'" class="main-content">
        <header class="dashboard-header">
            <h1>Management</h1>
        </header>
        <section class="stats-section" (click)="open('admin')">
            <div class="stat-card">
                <h3>200</h3>
                <p>Medications</p>
            </div>
            <div class="stat-card" (click)="open('pharmacies')">
                <h3>50</h3>
                <p>Pharmacies</p>
            </div>
            <div class="stat-card">
                <h3>30</h3>
                <p>Favorites</p>
            </div>
        </section>
        <section class="quick-actions">
            <h2>Actions rapides</h2>
            <button class="action-button" (click)="open('add')">Ajouter un médicament</button>
            <button class="action-button" (click)="open('medication')">Rechercher une pharmacie</button>
        </section>
    </main>
    <main *ngIf="display == 'user'" class="main-content">
        <header class="dashboard-header">
            <h1>Dashboard</h1>
        </header>
        <section class="stats-section" (click)="open('medication')">
            <div class="stat-card">
                <h3>{{ med }}</h3>
                <p>Medications</p>
            </div>
            <div class="stat-card" (click)="open('pharmacy')">
                <h3>{{ pharma }}</h3>
                <p>Pharmacies</p>
            </div>
            <div class="stat-card" *ngIf="Uservice.getLoged()" (click)="open('favorite')">
                <h3>{{ fav }}</h3>
                <p>Favorites</p>
            </div>
        </section>
    </main>
</div>
